:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --custom-gap: 40px;
  --header-height: 100px;
}
@media (width <= 525px) {
  :root {
    --custom-gap: 16px;
  }
}

html {
  scroll-behavior: smooth;
}
html.theme-dark {
  --text-primary: #e1d4c9;
  --text-inverse: #e1d4c9;
  --bg-page: #292826;
  --bg-container: #403f3d;
  --bg-overlay: rgba(41, 40, 38, 0.8);
  --border-primary: #665f55;
  --border-inverse: #c1b6ad;
}
html.theme-light {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-page);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.js-lock {
  overflow: hidden;
}

.header {
  padding: 20px 0;
}
.header__container {
  max-width: 1440px;
  padding: 0 var(--custom-gap);
  margin: 0 auto;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 38px;
}
.header__link-logo {
  flex: 0 0 100px;
  position: relative;
  z-index: 2;
}
.header__link-logo--disabled {
  pointer-events: auto;
}
.header__icon-logo {
  fill: currentColor;
}
.header__links-wrapper {
  flex: 1 0 100px;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (width <= 768px) {
  .header__links-wrapper {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 150px 40px 60px;
    row-gap: 80px;
    overflow: auto;
    background-color: var(--bg-page);
    transition: left 0.3s ease-in-out;
  }
  .header__links-wrapper--active {
    left: 0;
  }
}
.header__list {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}
@media (width <= 768px) {
  .header__list {
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
.header__link {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 10px 0;
  color: var(--text-primary);
  font-size: 16px;
  line-height: 24px;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--text-primary);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.header__link--active {
  pointer-events: none;
}
.header__link--active::before {
  content: "";
  position: absolute;
  bottom: 7px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-primary);
}
@media (width <= 768px) {
  .header__link {
    font-size: 32px;
    line-height: 40px;
  }
  .header__link--active {
    pointer-events: auto;
  }
}
.header__icon-coffee-cup {
  fill: none;
  stroke: currentColor;
}
@media (width <= 768px) {
  .header__icon-coffee-cup {
    width: 40px;
    height: 40px;
  }
}
.header__burger {
  display: none;
}
@media (width <= 768px) {
  .header__burger {
    z-index: 2;
    flex: 0 0 44px;
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 2px;
    background-color: var(--text-primary);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  .header__burger::before {
    transform: translateY(-4px);
  }
  .header__burger::after {
    transform: translateY(4px);
  }
  .header__burger--active::before {
    transform: rotate(45deg);
  }
  .header__burger--active::after {
    transform: rotate(-45deg);
  }
}
@media (width <= 768px) {
  .header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
  }
  .header::before {
    content: "";
    z-index: 2;
    position: absolute;
    inset: 0;
    background-color: var(--bg-page);
  }
}
@media (any-hover: hover) {
  .header__link:hover::after {
    left: 0;
    width: 100%;
    opacity: 1;
  }
  .header__burger:hover {
    background-color: var(--bg-container);
  }
  .header__burger:hover::before, .header__burger:hover::after {
    background-color: var(--text-inverse);
  }
}

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--custom-gap) 100px;
}
.hero__container {
  display: grid;
  min-height: 644px;
  border-radius: 40px;
  overflow: hidden;
}
@media (width <= 760px) {
  .hero__container {
    max-height: 550px;
  }
}
.hero__promo-video {
  z-index: -1;
  position: relative;
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__info {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 100px;
}
@media (width <= 800px) {
  .hero__info {
    padding: 100px 60px;
  }
}
@media (width <= 760px) {
  .hero__info {
    padding: 60px 16px;
  }
}
.hero__title {
  max-width: 718px;
  color: var(--text-inverse);
  font-size: 72px;
  line-height: 76px;
}
@media (width <= 760px) {
  .hero__title {
    font-size: 72px;
    line-height: 70px;
  }
}
@media (width <= 640px) {
  .hero__title {
    font-size: 52px;
    line-height: 60px;
  }
}
@media (width <= 480px) {
  .hero__title {
    font-size: 42px;
    line-height: 48px;
  }
}
@media (width <= 365px) {
  .hero__title {
    font-size: 34px;
    line-height: 40px;
  }
}
.hero__title--accent {
  color: var(--text-accent);
  font-style: italic;
}
.hero__text {
  max-width: 530px;
  color: var(--text-inverse);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.hero__button {
  text-align: center;
  color: var(--text-primary);
  font-size: 16px;
  line-height: 24px;
}
.hero__button--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 20px 0;
  border-radius: 100px;
  background: var(--bg-page);
}
@media (any-hover: hover) {
  .hero__button--primary:hover .hero__icon-coffee-cup {
    margin-left: 8px;
    width: 20px;
    opacity: 1;
  }
}
.hero__icon-coffee-cup {
  margin-left: 8px;
  width: 20px;
  opacity: 1;
  fill: none;
  stroke: currentColor;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .hero__icon-coffee-cup {
    margin-left: 0;
    width: 0;
    opacity: 0;
  }
}
@media (width <= 768px) {
  .hero {
    padding-top: var(--header-height);
  }
}

/*# sourceMappingURL=style.css.map */
