:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: rgba(64, 63, 61, 0.8);

  --bg-modal: #e1d4c9;
  --bg-modal-control: #665f55;
  --bg-modal-control-tag: #c1b6ad;
  --bg-modal-control-tag-hovered: #e1d4c9;

  --border-primary: #c1b6ad;
  --border-inverse: #665f55;

  --custom-gap: 40px;
  --header-height: 100px;
  --slides-count: 3;

  @media (width <=525px) {
    --custom-gap: 16px;
  }
}

// @media (prefers-color-scheme: dark) {
//   :root:not(.theme-light) {
//     --text-primary: #e1d4c9;
//     --text-inverse: #e1d4c9;
//     --text-accent: #b0907a;

//     --bg-page: #292826;
//     --bg-container: #403f3d;
//     --bg-overlay: #292826cc;

//     --bg-modal: #403f3d;
//     --bg-modal-control: #292826;
//     --bg-modal-control-tag: #665f55;
//     --bg-modal-control-tag-hovered: #403f3d;

//     --border-primary: #665f55;
//     --border-inverse: #c1b6ad;
//   }
// }

html {
  scroll-behavior: smooth;

  &.theme-dark {
    --text-primary: #e1d4c9;
    --text-inverse: #e1d4c9;

    --bg-page: #292826;
    --bg-container: #403f3d;
    --bg-overlay: rgba(41, 40, 38, 0.8);

    --border-primary: #665f55;
    --border-inverse: #c1b6ad;
  }

  &.theme-light {
    --text-primary: #403f3d;
    --text-inverse: #e1d4c9;

    --bg-page: #e1d4c9;
    --bg-container: #665f55;
    --bg-overlay: #403f3dcc;

    --border-primary: #c1b6ad;
    --border-inverse: #665f55;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-page);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.js-lock {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
