@use "variables";

:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;

  --bg-page: #e1d4c9;
  --bg-container: #665f55;
  --bg-overlay: rgba(64, 63, 61, 0.8);

  --border-primary: #c1b6ad;
  --border-inverse: #665f55;

  --custom-gap: 40px;

  @media (width <= variables.$mobile-breakpoint) {
    --custom-gap: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --text-primary: #e1d4c9;
    --text-inverse: #e1d4c9;

    --bg-page: #292826;
    --bg-container: #403f3d;
    --bg-overlay: rgba(41, 40, 38, 0.8);

    --border-primary: #665f55;
    --border-inverse: #c1b6ad;
  }
}

html {
  scroll-behavior: smooth;

  &.theme-dark {
    --text-primary: #e1d4c9;
    --text-inverse: #e1d4c9;

    --bg-page: #292826;
    --bg-container: #403f3d;
    --bg-overlay: rgba(41, 40, 38, 0.8);

    --border-primary: #665f55;
    --border-inverse: #c1b6ad;
  }

  &.theme-light {
    --text-primary: #403f3d;
    --text-inverse: #e1d4c9;

    --bg-page: #e1d4c9;
    --bg-container: #665f55;
    --bg-overlay: rgba(64, 63, 61, 0.8);

    --border-primary: #c1b6ad;
    --border-inverse: #665f55;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-page);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}