.menu {
  margin-bottom: 100px;

  @media (width <= 768px) {
    padding-top: var(--header-height);
  }

  &__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 var(--custom-gap);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  &__title {
    max-width: 800px;

    color: var(--text-primary);
    text-align: center;
    font-size: 60px;
    line-height: 75px;

    @media (width <= 525px) {
      font-size: 32px;
      line-height: 40px;
    }

    &--accent {
      color: var(--text-accent);
      font-style: italic;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;

    @media (width <= 525px) {
      flex-wrap: wrap;
      justify-content: center;
      gap: 8px;
    }
  }

  &__button {
    padding: 7px 15px 7px 7px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: var(--text-primary);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;

    background-color: transparent;
    border: 1px solid var(--border-primary);
    border-radius: 100px;

    transition:
      color 0.3s ease-in-out,
      background-color 0.3s ease-in-out,
      border 0.3s ease-in-out;

    &--active {
      color: var(--text-inverse);
      background-color: var(--bg-container);
      border: 1px solid transparent;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--text-inverse);
        background-color: var(--bg-container);
        border: 1px solid transparent;

        .menu__button-emoji {
          background-color: var(--bg-page);
        }
      }
    }
  }

  &__button-emoji {
    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: center;
    background-color: var(--border-primary);

    transition: background-color 0.3s ease-in-out;

    &--coffee {
      background-image: url("../../assets/images/menu-page/gallery/icons-buttons/category-coffee.png");
    }

    &--tea {
      background-image: url("../../assets/images/menu-page/gallery/icons-buttons/category-tea.png");
    }

    &--dessert {
      background-image: url("../../assets/images/menu-page/gallery/icons-buttons/category-dessert.png");
    }
  }

  &__button--active &__button-emoji {
    background-color: var(--bg-page);
  }

  &__list-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;

    @media (width <= 768px) {
      li:nth-child(n + 5) {
        display: none;
      }

      li.show-more {
        display: flex;
      }
    }
  }

  &__card {
    max-width: 310px;
    min-height: 506px;
  }

  &__load-more-btn {
    display: none;

    @media (width <= 768px) {
      padding: 17px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background-color: transparent;
      border: 1px solid;
      border-color: var(--border-inverse);
      border-radius: 50%;

      transition: background-color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;

      @media (any-hover: hover) {
        &:hover {
          background-color: var(--bg-container);
          border-color: transparent;

          .menu__load-more-icon {
            stroke: var(--text-inverse);
          }
        }
      }
    }
  }

  &__load-more-icon {
    fill: none;
    stroke: var(--text-primary);

    transition: stroke 0.3s ease-in-out;
  }
}

.card {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  cursor: pointer;

  border: 1px solid var(--border-primary);
  border-radius: 40px;

  @media (any-hover: hover) {
    &:hover {
      .card__image {
        transform: scale(1);
      }
    }
  }

  &__image-wrapper {
    flex-shrink: 0;

    overflow: hidden;
    border-radius: 40px;
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
    transform: scale(1.1);

    transition: transform 0.3s ease-in-out;
  }

  &__info {
    flex-grow: 1;

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  &__description {
    flex-grow: 1;

    color: var(--text-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  &__price {
    color: var(--text-primary);
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
}